/* 전체적인 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
textarea,
select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

/* 라디오 박스 스타일 */
.input-radio {
    display: flex;
    align-items: center;
}

.input-radio label {
    margin: 0 10px;
    cursor: pointer;
}

.input-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.input-radio .radio-group {
    position: relative;
    margin-right: 10px;
    padding-left: 28px;
    cursor: pointer;
}

.input-radio .radio-group label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
}

.input-radio .radio-group input[type="radio"]:checked ~ label:before {
    background-color: #007bff;
    border-color: #007bff;
}

.input-radio .radio-group label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.input-radio .radio-group input[type="radio"]:checked ~ label:after {
    opacity: 1;
    transform: scale(1.2);
}

/* 챌린지 폼 스타일 */
#title, #description, #finalGoal, #evidenceType, #difficulty, #assignScore {
    display: block;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.radio-group label {
    margin-right: 10px;
}

.input-radio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}